@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
.pad {
  opacity: 0.7;
  background: url("../files/2020_art_2_1_845.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: antiquewhite;
  font-size: 5vh;
}
.sp {
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.box {
  padding-top: 30vh;
  font-size: 100%;
  font-family: "Hurricane", cursive;
}
.box1 {
  font-size: 60%;
  padding-bottom: 1%;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.round {
  color: white;
}
@media only screen and (min-width: 0px) and (max-width: 1044px){
  .box {
    padding-top: 15vh;
  }
}
